{% extends 'base.html' %}

{% block title %}Dashboard - SkyRider Website{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <p>Hello, {{ username }}!</p>
    <p>These are the flights that are currently on going:</p>
    <div id="table-container-on-air">
        <table border="1">
            <thead>
                <tr>
                    {% for column in on_air_table_columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in on_air_table_data %}
                    <tr>
                        {% for column in on_air_table_columns %}
                            <td>{{ row[column] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p>These are the flights that had an exceptional event:</p>
    <div id="table-container-exc-event">
    <table border="1">
        <thead>
            <tr>
                {% for column in exc_event_df_table_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in exc_event_table_data.iterrows() %}
                <tr>
                    {% for column in exc_event_df_table_columns %}
                        <td>{{ row[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


    <!--
    <div id="map-container" style="height: 500px; width: 100%;">
        <div id="map"></div>
    </div>


    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Create the map
        var map = L.map('map').setView([31.5, 34.75], 8); // Centered around Israel

        // Set bounds to restrict the map view to Israel
        var bounds = [[29.5, 30], [33.5, 36.5]];
        map.setMaxBounds(bounds);
        map.on('drag', function () {
            map.panInsideBounds(bounds, { animate: false });
        });

        // Add a tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors',
            maxZoom: 18,  // Set maximum zoom level
            minZoom: 8   // Set minimum zoom level
        }).addTo(map);

        // Add markers for each set of coordinates
        {% for coordinates in coordinates_list %}
            L.marker([{{ coordinates['Location'] }}]).addTo(map)
                .bindPopup('<b>{{ coordinates['Team'] }}</b><br>{{ coordinates['Location'] }}');
        {% endfor %}
    </script>-->
{% endblock %}
